body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    color: white;
}

#captchaContainer {
    background-color: #000;
    border-radius: 0px;
}

#canvasWrapper {
    background-color: #b1bbcb;
    border-radius: 0px !important;
}

#canvasWrapper canvas {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
}

#feedback {
    text-align: left;
}

#attemptsLeft {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    color: #000;
    margin: auto;
    border-radius: 10px;
}

.closeModal {
    cursor: pointer;
}
