body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    color: white;
}

.title {
    font-weight: bold;
}

#captchaContainer {
    background-color: #000;
    border-radius: 0px;
    margin: 0 auto;           /* keeps it centered */
    padding: 1.2rem;          /* reduces oversized padding when shrunk */
    box-sizing: border-box;
}

#canvasWrapper {
    background-color: #b1bbcb !important;
    border-radius: 0px !important;
}

#canvasWrapper canvas {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b1bbcb;
}

#feedback {
    text-align: left;
}

#attemptsLeft {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #b1bbcb;
    border-color: #b1bbcb;
}

.modal-content {
    background-color: #d9d9d9;
    color: #000;
    margin: auto;
    border-radius: 0px;
}

.closeModal {
    cursor: pointer;
}

#continueBtn, .btn-success {
    border-radius: 0px;
    background-color: #aab18b;
    border-color: #aab18b;
    font-weight: bold;
}

#submitBtn {
    border-radius: 0px;
    background-color: #b1bbcb;
    border-color: #b1bbcb;
    font-weight: bold;
}

#submitBtn:hover {
    background-color: #212529;
    border-color: #b1bbcb;
}

#continueBtn:hover {
    background-color: #212529;
    border-color: #aab18b;
}

.btn-success:hover {
    background-color: #d9d9d9;
    border-color: #aab18b;
    color: black;
}

#failRetryBtn:hover {
    background-color: #212529;
    border-color: #c57777;
}

#failRetryBtn {
    border-radius: 0px;
    background-color: #c57777;
    border-color: #c57777;
    font-weight: bold;
}

.bi {
    color: #b1bbcb;
}

#backDesktop {
    border-radius: 0px;
    padding: 10px;
}

.infoLink:hover {
    color: #b1bbcb;
}

/* Keep the canvas square while scaling to phone width */
#canvasResponsiveWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;     /* maintains perfect square */
    max-width: 95vw;         /* prevents overflow */
    position: relative;
}

/* Force canvases to fill wrapper visually */
#canvasResponsiveWrapper canvas {
    width: 100%;
    height: 100%;
    touch-action: none;       /* no scrolling while drawing */
}

.fs-7 {
    font-size: 0.75rem !important;
}